/* 版心 */
.container{
    min-width: 962px;
    margin: 0 auto;
}

/* 消除浮动的影响 */
.clearfix::after{
    content: '';
    display: block;
    height: 0;
    clear: both;
}

html,body{
    width: 100%;
}

/* 测试类 */
.test{
    border: 1px solid red;
}

/* logo和搜索 */
#header{
    height: 100px;
    width: 962px;
}

#header .logo{
    float: left;
    width: 282px;
    height: 35px;
}

#header .logo img{
    width: 100%;
    height: 100%;
}

#header .search{
    float: right;
    width: 227px;
    height: 27px;
}

#header .search input{
    width: 200px;
    height: 27px;
    background-color: #f1f1f1;
}

#header button{
    width: 27px;
    height: 27px;
    background-image: url(../images/serch.jpg);
    background-repeat: no-repeat;
    background-size: 27px 27px;
}