/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-06-29 17:07:00
 * @modify date 2021-06-29 23:04:36
 * @desc [description]
 */

*{
    padding: 0;
    margin: 0;
} 

a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    color: red;
}

/* 页眉 */
#header{
    width: 1345px;
    height: 100px;

    /* background-color: seagreen; */
    overflow: hidden;
}

#header .headerMid{
    width: 961px;
    height: 36px;
    margin: 0 auto;
    margin-top: 32px;
    /* background-color: pink; */
}

#header .logo{
    width: 282px;
    height: 36px;
    float: left;
    
    /* background-color: purple; */
    background-image: url(../images/logo.jpeg);
    background-repeat: no-repeat;
    background-size: 282px 35px;
}

#header .search{
    width: 227px;
    height: 27px;
    float: right;
    padding: 1px;
    margin-top: 7px;
    background-color: #e5e5e5;
}

#header input{
    width: 200px;
    height: 27px;
    float: left;
    border: 0 solid;
    background-color: #f1f1f1;
}

#header button{
    width: 27px;
    height: 27px;
    float: left;
    border: 0 solid;
}

/* 导航 */
#nav{
    width: 1345px;
    height: 58px;
    background-color: #323232;
}

#nav .navMid{
    width: 967px;
    height: 58px;
    margin: 0 auto;
    /* background-color: springgreen; */
}

#nav ul{
    list-style-type: none;
    text-align: center;
    line-height: 58px;
}

#nav li{
    width: 120px;
    height: 58px;
    float: left;
    color: #f2f2f2;
}

.navMid div{
    width: 1px;
    height: 58px;
    float: left;
    background-color: #494949;
}
/* 轮播图 */
#banner{
    width: 1345px;
    height: 463px;
}

#banner img{
    vertical-align: top;
}

/* 新闻和资讯 */
#news{
    width: 1345px;
    height: 240px;
}

#news .newsMid{
    width: 987px;
    height: 240px;
    margin: 0 auto;
}

#news .newsDetails{
    width: 475px;
    height: 240px;
    float: left;
    
}

#news .company{
    width: 200px;
    height: 240px;
    float: left;
    background-color: #f1f1f1;
}

#news .recruit{
    width: 207px;
    height: 240px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    /* background: yellow; */
}

/* 新闻模块标题 */
.title{
    font-size: 20px;
    line-height: 68px;
    margin-top: 10px;
}

.newsDetails{
    padding-right: 25px;
    /* padding-left: 30px; */
}

.newsDetails ul{
    width: 475px;
}

.newsDetailsLeft{
    font-size: 13px;
    /* display: block; */
    width: 345px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}

.newsDetailsRight{
    font-size: 13px;
    display: block;
    float: right;
    color: #919191;
}
/* 公司介绍 */
.company{
    padding-left: 20px;
    padding-right: 20px;
    border-right: 1px sloid #ffffff;
}

.companyLine1{
    font-size: 14px;
    line-height: 30px;
}

.companyLine2{
    font-size: 12px;
    line-height: 25px;
}

.companyLine3{
    font-size: 12px;
    margin-top: 20px;
    color: #919191;
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.imgBox{
    width: 247px;
    height: 162px;
}

.imgBoxLeft{
    width: 95px;
    height: 162px;
    background-image: url(../images/more.jpeg);
    background-repeat: no-repeat;
    background-position: 0 0;
    /* background-color: red; */
    float: left;
}
.imgBoxRight{
    width: 152px;
    height: 162px;
    background-image: url(../images/horse.jpeg);
    background-repeat: no-repeat;
    background-size: 152px 162px; 
    float: left;
}
