/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-07-07 19:55:43
 * @modify date 2021-07-07 20:16:09
 * @desc [description]
 */
*{
    padding: 0;
    margin: 0;
}

.mid{
    width: 230px;
    height: 322px;
    margin: 0 auto;
    background-image: url(../images/spriteBg.png);
    background-repeat: no-repeat;
    background-position: -460px 0;
    /* padding-left: ; */
}

.mid div:first-child{
    margin: 20px;
}


