/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-07-07 19:55:43
 * @modify date 2021-07-07 19:57:43
 * @desc [description]
 */
*{
    padding: 0;
    margin: 0;
}

.mid{
    width: 229px;
    height: 400px;
}
