/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-07-07 17:26:55
 * @modify date 2021-07-07 19:31:44
 * @desc [description]
 */
*{
     margin: 0;
     padding: 0;
}

/* .clearfix::after{
    content: "";
    height: 0;
    clear: both;
    display: block;
} */

.container{
    min-width: 1200px;
    margin: 0 auto;
}

#header .headerMid{
    width: 1200px;
    height: 33px;
}

#nav .navMid{
    width: 1200px;
    height: 100px;
}

#header .headerMid ul{
    float: right;
}

.headerMid li{
    float: left;
    list-style-type: none;
    color: #999;
    line-height: 33px;
    text-align: center;
    /* width: 100px; */
}

.icon-shouye,.icon-shangchang{
    color: red;
}

.headerMid ul div{
    /* width: 1px; */
    /* height: 13px; */
    /* background-color: #999; */
    float: left;
    line-height: 33px;
    margin: 0 20px;   
}

.icon-daohang{
    margin-left: 30px;
    font-size: 15px;
    color: black;
    line-height: 100px;
    float: left;
}

#nav{
    border-top: 1px solid #f0f0f0; 
}

#nav .logo{
    width: 130px;
    height: 100px;
    float: left;
}  

.logo img{
    /* width: 100%; */
    height: 100%;
}

.mulu{
    font-size: 15px;
    line-height: 100px;
    float: left;
    line-height: 100px;
}

.normalSearchContent{
    margin-left: 76px;
    width: 390px;
    height: 44px;
    float: left;
    margin-top: 28px;
    line-height: 100px;
}

.searchText{
    border: none;
    height: 48px;
    line-height: 48px;
    float: left;
    width: 300px;
    background: #f7f7f7;
    color: #666;
    padding: 0 15px;
    border-radius: 5px 0 0 5px;
}

.btnSearch{
    height: 48px;
    border: none;
    width: 58px;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    background: rgb(158, 156, 156);
    float: right;
}

.icon-guanbi{
    font-size: 20px;
}

.siteTopNav{
    float:left;
    margin-left: 20px;
    margin-top: 27px;
    width: 342px;
    height: 49px;
}


