/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-07-07 17:26:55
 * @modify date 2021-07-07 17:31:26
 * @desc [description]
 */
*{
     margin: 0;
     padding: 0;
}

.clearfix{
    content: "";
    
}

.container{
    min-width: 1200px;
    margin: 0 auto;
}

#header .headerMid{
    width: 1200px;
    height: 33px;
}