*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.clearfix::after{
    content: '';
    height: 0;
    display: block;
    clear: both;
}

.container{
    min-width: 1200px;
}