*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.clearfix::after{
    content: '';
    height: 0;
    display: block;
    clear: both;
}

.container{
    min-width: 1200px;
    margin: 0 auto;
}

header{
    width: 100%;
    /* height: 30px; */
    background: #222222;
}

.headerMid{
    width: 1200px;
    height: 30px;
}

header section{
    color: #5b6666;
}

.headerLeft{
    float: left;
}

.headerRight{
    float: right;
}

nav{
   width: 1200px; 
}

nav ul li{
    width: 100px;
    height: 60px;
    text-align: center;
    float: left;
    list-style-type: none;
    line-height: 60px;
}

li:hover{
    background: pink;
}

main{
    width: 100%;
    background: #e6e1e1;
}

.mainMid{
    width: 1200px;
}

.mainMid .left{
    margin-top: 30px;
    width: 1188px;
    height: 550px;
}