/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-07-06 19:15:55
 * @modify date 2021-07-06 19:41:15
 * @desc [description]
 */
*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
    height: 0;
}

.container{
    min-width: 1600px;
    margin: 0 auto;
}

.headerMid{
    width: 1600px;
    height: 108px;
    background: white;
}

.headerLeft{
    width: 123px;
    height: 51px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    float: left;
    margin-right: 15px;
    border-right: 1px solid #e1e1e1;
}

.headerWord{
    width: 99px;
    height: 41px;
    background-image: url(../images/word.png);
    background-repeat: no-repeat;
    float: left;
    margin-left: 15px;
    border-left: 1px solid #e1e1e1;
}

.borderHeader{
    width: 1px;
}

.headerRight{
    font-size: 20px;
    float: right;
    color: #7d7d7d;
}

