*{
    padding: 0;
    margin: 0;
}

.mid{
    width: 1280px;
    height: 720px;
    margin: 50px auto;
    overflow: hidden;
}

li{
    list-style-type: none;
}

.mid ul{
    width: 1280px;
    height: 720px;
}

.mid li{
    width: 256px;
    height: 720px;
}