/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-07-08 19:11:50
 * @modify date 2021-07-08 19:12:44
 * @desc [description]
 */
 div{
    width: 227px;
    height: 150px;
    background: url(../images/anli1.png) no-repeat 0 -150px;
    transition: 1s linear;
    margin: 40px;
    border: 1px solid rgb(163, 163, 175);
    border-radius: 15px;
}
div:hover{
    background-position: 0 0;
    background-color: #F8F8F8;
    }