@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1625998650876') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fangxiangpan1:before {
  content: "\e649";
}

.icon-gongjiaoche:before {
  content: "\e74e";
}

.icon-jiaofei:before {
  content: "\e64e";
}

.icon-diannao:before {
  content: "\e630";
}

.icon-youxiang:before {
  content: "\e65e";
}

.icon-kefu:before {
  content: "\e601";
}

.icon-qiche:before {
  content: "\ec6d";
}

.icon-qiandao:before {
  content: "\e6e5";
}

.icon-zhinanzhen:before {
  content: "\e88c";
}

.icon-shuxie:before {
  content: "\e638";
}

.icon-tongzhi:before {
  content: "\e6dc";
}

.icon-quanzi:before {
  content: "\e7b3";
}

.icon-sousuo:before {
  content: "\e653";
}

.icon-zhengfu-01:before {
  content: "\e616";
}

.icon-wode:before {
  content: "\e6d9";
}

.icon-lingdang:before {
  content: "\e613";
}

.icon-shouye:before {
  content: "\e503";
}

.icon-kaoshi:before {
  content: "\e622";
}

