/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-06-24 17:35:50
 * @modify date 2021-06-26 14:20:56
 * @desc [description]
 */
* {
    padding: 0;
    margin: 0;
}

.header {
    width: 1592px;
    height: 60px;
    background: #232323;
}

.daohang{
    width: 990px;
    height: 60px;
    /* background: powderblue; */
    margin: 0 auto;
}
.logo{
    width: 165px;
    height: 60px;
    float: left;
    background-image: url(../images/qianfeng_logo.jpeg);
}
.nav{
    width: 790px;
    height: 16px;
    float: right;
    margin-top: 22px;
    margin-bottom: 22px;
    font-size: 14px;
}
.ul1{
    list-style-type: none;
    float: left;
    height: 16px;
    color: white;
}
.ul1 li{
    height: 16px;
    text-align: center;
}
.ul1 div{
    float: left;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 1px #000000;
    border-right: solid 1px #444444;
}
.dhL{
    border-left: solid 1px #232323;
}
.dhR{
    border-right: solid 1px #232323;
}

.banner{
    width: 1592px;
    height: 422px;
    background: #8cb2bb;
    background-image: url(../images/qianfeng_banner.jpeg);
    background-size: 1592px 422px;
}

.con{
    width: 1592px;
    height: 348px;
    background: #f5f5f5;
}

.out{
    width: 1026px;
    height: 239px;
    margin: 0 auto;
    padding-top: 34px;
    padding-bottom: 25px;
}

.box1{
    width: 255px;
    height: 289px;
    /* background: #a9d7f9; */
    float: left;
    border-right: #dde6f0 1px solid;
}

.box2{
    width: 255px;
    height: 289px;
    /* background: #fdc07c; */
    float: left;
    border-left: #ffffff 1px solid;
    border-right: #dde6f0 1px solid;
}
.box3{
    width: 255px;
    height: 289px;
    /* background: #8adec9; */
    float: left;
    border-left: #ffffff 1px solid;
    border-right: #dde6f0 1px solid;
}

.box4{
    width: 255px;
    height: 289px;
    /* background: #dbaae1; */
    float: left;
    border-left: #ffffff 1px solid;
}

.con_i1{  
    background-image: url(../images/1.jpeg);
}
.con_i2{
    background-image: url(../images/2.jpeg);
}
.con_i3{
    background-image: url(../images/3.jpeg);
}
.con_i4{
    background-image: url(../images/4.jpeg);
}
.conn{
    width: 255px;
    height: 122px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #f5f5f5;
}
.out_p1{
    font-weight: 700;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}
.out_p2{
    text-align: center;
    color: #546c7d;
    font-size: 12px;
    margin-bottom: 10px;
}
.out_p3{
    text-align: center;
    color: #afbcd3;
    font-size: 10px;
}

.out2{
    width: 1592px;
    height: 226px;
    padding-top: 41px;
    padding-bottom: 41px;
    background: #ffffff;
}

.con2{
    width: 893px;
    height: 226px;
    /* padding-top: 41px;
    padding-bottom: 42px; */
    margin: 0 auto;
}

.box5{
    width: 298px;
    height: 224px;
    background: #ffffff;
    float: left;
    background-image: url(../images/5.jpeg);
    background-repeat: no-repeat;
    background-size: 296px 222px;
    background-position:center center;
    border: 1px solid #dddddd;
}

.box6{
    width: 322px;
    height: 210px;
    background: #ffffff;
    float: left;
    padding-left: 16px;
    padding-right: 16px;
    /* padding-top: 16px; */
    padding-bottom: 16px;
}
.box7{
    width: 238px;
    height: 226px;
    background: #ffffff;
    float: left;
    border-left: 1px solid #dcdedf;
    padding-left: 16px;
}
.out2_p1{

    line-height: 48px;
}
.out2_p2{
    text-indent: 2em;
    font-size: 9px;
    color: #999999;
    padding-bottom: 12px;
    border-bottom: dashed 1px #999999;
    margin-bottom: 12px;
}
.talk{
    width: 111px;
    height: 31px;
    background-image: url(../images/7.jpeg);
    background-repeat: no-repeat;
    background-position:center center;
}
.out2_p3{
    font-size: 32px;
}
.out2_p4{
    font-size: 10px;
}
.box6 ul{
    padding-left: 1em;
    list-style-type:circle;
}
.box6 li{
    font-size: 11px;
    /* text-indent: 2em; */
}
.con3{
    width: 1592px;
    height: 212px;
    background: #222222;
}

.out3{
    width: 1036px;
    height: 212px;
    margin: 0 auto;
}

.box8{
    width: 506px;
    height: 212px;
    float: left;
    background: lightcoral;
}
.box9{
    width: 325px;
    height: 212px;
    float: left;
    background: lightseagreen;
}
.box10{
    width: 205px;
    height: 212px;
    float: left;
    background: mediumblue;
}
.footer{
    width: 1592px;
    height: 45px;
    background: #101010;
}
.box11{
    width: 656px;
    height: 45px;
    background: mediumvioletred;
    margin: 0 auto;
}