/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-06-24 15:57:19
 * @modify date 2021-06-24 16:01:33
 * @desc [description]
 */
.box{
    width: 300px;
    height: 300px;
    background: pink;
    border-top: 5px solid orange;
    border-bottom: 5px solid red;
    border-left: 5px solid green dashed;
    border-right: 5px solid blue dashed;
}