/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-06-24 15:57:19
 * @modify date 2021-06-24 15:59:50
 * @desc [description]
 */
.box{
    width: 300px;
    height: 300px;
    border-top: 2px solid orange;
    border-bottom: 2px solid red;
    border-left: 2px solid green dashed;
}