/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-06-24 13:00:50
 * @modify date 2021-06-24 13:18:37
 * @desc [description]
 */
 .box1{
     height: 45px;
     float: left;
     margin-left: 80px;
     text-align: center;
 }
 .box2{
     height: 45px;
     float: right;
     margin-right: 80px;
     text-align: center;
 }
 .logo{
     align-items: center;
 }
 /* .btn{
     height: 22px;
 } */
 .searchText{
     height: 31px;
 }
