/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-06-24 13:00:50
 * @modify date 2021-06-24 19:59:23
 * @desc [description]
 */
*{
    padding: 0;
    margin: 0;
}
.header{
    width: 1300px;
    height: 100px;
}
.insideHeader{
    width: 1102px;
    height: 100px;
    background: #f29004;
}
.leftBox{
    width: 205px;
    height: 54px;
    background: #36b559;
    float: left;
}
.rightBox{
    
}