/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-06-24 14:58:43
 * @modify date 2021-06-24 14:59:55
 * @desc [description]
 */
.box{
    background: gray;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
}