/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-07-05 19:07:47
 * @modify date 2021-07-05 19:10:29
 * @desc [description]
 */
.outside{
    width: 490px;
    margin: 0 auto;
    border: 1px solid #c5c8c7;
}