/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-07-05 19:07:47
 * @modify date 2021-07-05 19:31:06
 * @desc [description]
 */

a{
    text-decoration: none;
}

.outside{
    width: 450px;
    margin: 0 auto;
    border: 1px solid #c5c8c7;
    padding: 20px;
}

fieldset{
    border: 1px solid #c5c8c7;
}

label{
    font-size: 11px;
    color: #507986;
}

legend{
    width: 92px;
    height: 20px;
    color: #507986;
    border: 1px solid #c5c8c7;
    line-height: 20px;
}

.topTitle , .bottom{
    font-weight: 700px;
    /* font-size: 13px; */
    margin-bottom: 16px;
}

.bottom{
    margin-top: 16px;
}

.rem{
    text-decoration: black;
}

.inputRem{
    background: #afe2ee;
}

.btnLogin{
    background: #afe2ee;
}

.tipsLabel{
    display: inline-block;
    width: 54px;
    text-align: right;
}

.tipsLabel1{
    display: inline-block;
    width: 70px;
    text-align: right;
}

