.mid{
    width: 300px;
    height: 100px;
    margin: 0 auto;
}

.left{
    width: 150px;
    height: 100px;
    float: left;
    background-image: url(../images/logo.png);
    /* background-repeat: no-repeat; */
    back
}

.right{
    width: 150px;
    height: 100px;
    float: left;
}