/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-06-23 20:44:34
 * @modify date 2021-06-23 23:24:49
 * @desc [description]
 */
#logo1,.loginBtn{
    width: 400px;
    height: 55px;
    text-align: center;
}
input{
    border-radius: 55px;
    outline: none;
    border-color: white;
    border-width: 0px;
}
.di{
    border-bottom: tomato;
}
.dd{
    width: 60px;
    height: 26px;
    border-color: hotpink;
    border:10px;
    border-collapse: collapse;
    border-spacing: 0px;
}