/**
 * @author [Alex Wei]
 * @email [w2262196@outlook.com]
 * @create date 2021-06-23 20:44:34
 * @modify date 2021-06-23 23:04:45
 * @desc [description]
 */
#logo1,.loginBtn{
    width: 450px;
    height: 55px;
    text-align: center;
}
input{
    border-radius: 55px;
    outline: none;
    border-color: white;
    border-width: 0px;
}